{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Detalle de Servicio{% endblock title %}

{% block styles %}
<style>
    .card-img-top {
        height: 400px;
        object-fit: cover;
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
{% endblock styles %}

{% block content %}

<div class="card mt-5 mb-5 pb-5 mx-auto" style="width: 40rem;">
    <img
        class="card-img-top img-fluid"
        src="{{ servicio.imagen.url }}"
        alt="Card image cap"
    />
    <div class="card-body">
        <h4 class="card-title">{{servicio.nombre}}</h4>
        <p class="card-text"> {{servicio.descripcion}}</p>
        <a class="btn btn-sm btn-secondary btn-custom" href=" {% url 'servicios:lista-servicios' %} " role="button">Volver </a>
        <a class="btn btn-sm btn-success btn-custom" href=" {% url 'cita:crear-cita' servicio.id %} " role="button">Citar</a>
        <a class="btn btn-sm btn-danger btn-custom" href=" {% url 'servicios:eliminar-servicios' servicio.id %} " role="button"
        onclick="return confirm('¿Estás seguro de eliminar el servicio?');"> Eliminar</a>
    </div>
</div>


{% endblock content %}