{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Lista de Citas{% endblock title %}

{% block styles %}
<style>
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }

    .card {
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn-custom {
        border-radius: 20px;
        margin-top: 5px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    @media (max-width: 767px) {
        .card-container {
            grid-template-columns: 1fr;
        }
    }
</style>
{% endblock styles %}

{% block content %}
<h2 class="text-center my-4">Lista de Servicios</h2>

<div class="container mb-5">
    <div class="card-container">
        {% for servicio in servicios %}
        <div class="card">
            <img src="{% static 'img/servicios/servicio.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ servicio.nombre }}</h5>
                <p class="card-text">{{ servicio.descripcion|truncatewords:10 }}</p>
                <h6 class="card-text">Precio: ${{ servicio.precio }}</h6>
            </div>
            <div class="card-footer bg-transparent border-0">
                <a class="btn btn-sm btn-secondary btn-custom" href=" {% url 'detalle-servicios' servicio.id %} " role="button">Detalle</a>
                <a class="btn btn-sm btn-dark btn-custom" href=" {% url 'crear-cita' servicio.id %} " role="button">Citar</a>
                <a class="btn btn-sm btn-dark btn-custom" href="#" role="button">Editar</a>
            </div>
        </div>
        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
