{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Balance
{% endblock %}

{% block content %}
    <div class="bg-dark text-white p-5 mb-4 d-flex flex-row w-100 align-items-center">
        <div class="d-flex flex-column me-5">
            {% include 'components/card.html' with directionUrl='balance:citas-mes' titulo='Balance por mes' %}
            {% include 'components/card.html' with titulo='Balance por dia' %}
            {% include 'components/card.html' with titulo='Balance por hora' %}
            {% include 'components/card.html' with titulo='Balance por estilista' %}
            {% include 'components/card.html' with titulo='Balance por cliente' %}
            {% include 'components/card.html' with titulo='Balance por servicio' %}
        </div>
        <div>
            <h1 class="text-center ms-5 me-5 text-info">BALANCE ESTADISTICO</h1>
        </div>
    </div>
{% endblock %}