
{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Balance mes
{% endblock %}

{% block content %}
<div class="bg-dark text-white p-5 mb-4 d-flex flex-row w-100">
    <div class="row">
      {% comment %}Primera columna{% endcomment %}
      <div class="col-12">
        <h5 class="pb-5 text-info">Total de citas: {{ total_citas }}</h5>
        <h5 class="ps-3">Citas por mes</h5>
        <div class="d-flex flex-row">
          <ul>
            {% for mes, conteo in conteo_meses.items %}
              <li>{{ mes }}: {{ conteo }}</li>
            {% endfor %}
          </ul>
          <ul>
            {% for _, porcentaje in porcentaje_por_mes.items %}
              <li>{{ porcentaje }}%</li>
            {% endfor %}
          </ul>
        </div>
        <img src="{{ grafico_porcentaje_meses }}" alt="Diagrama de Barras de Porcentaje de Citas por Mes" />
      </div>
    </div>
</div>
{% endblock content %}