{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Balance
{% endblock %}

{% block content %}

  <h5 class="pb-3 text-info">Citas por mes</h5>
  {% if grafico_porcentaje_meses %}
    <img src="{{ grafico_porcentaje_meses }}" alt="Diagrama de Barras de Porcentaje de Citas por Día" class="img-fluid" />
  {% else %}
    <p class="text-muted">No hay datos de citas disponibles para generar el gráfico diario.</p>
  {% endif %}

  <div class="d-flex flex-row mt-3">
    <div class="me-4">
      <h6>Conteo por Día:</h6>
      <ul class="list-unstyled">
        {% for mes, conteo in conteo_meses.items %}
          <li>{{ mes }}: {{ conteo }}</li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h6>Porcentaje por Día:</h6>
      <ul class="list-unstyled">
        {% for _, porcentaje in porcentaje_por_mes.items %}
          <li>{{ porcentaje }}%</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
