{% load static %}
<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=" balance:citas-mes ">Balance por mes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Balance por dia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Balance por mes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Balance por dia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Balance por mes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Balance por dia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Balance por mes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Balance por dia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Balance por mes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Balance por dia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Balance por mes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Balance por dia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
