{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Registro estilista
{% endblock %}

{% block content %}
  <div class="container mt-5">
    {% comment %} <h2 class="text-center">Estilistas</h2> {% endcomment %}
    {% if user.is_superuser %}
      {% include 'components/botton_add.html' with directionUrl='estilista:crear-estilista' classIcon='bi bi-plus-lg' %}
    {% endif %}

    <!-- Campo de búsqueda y selector de estado -->
    {% include 'components/campo_busqueda_tabla.html' with placeholder='Buscar esilista...' %}

    <div class="d-flex justify-content-center">
      <table class="table table-dark table-hover mt-5" style="width: 75%;">
        <thead>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody id="estilistaTable">
          {% for estilista in estilistas %}
            <tr>
              <th scope="row">{{ estilista.dni }}</th>
              <td>{{ estilista.user.first_name }}</td>
              <td>{{ estilista.user.last_name }}</td>
              <td>{{ estilista.telefono }}</td>
              <td>{{ estilista.user.email }}</td>
              <td>
                <a href="{% url 'estilista:editar-estilista' estilista.dni %}" class="btn btn-link text-info"><i class="bi bi-pencil"></i></a>

                <a href="{% url 'estilista:ver-estilista' estilista.dni %}" class="btn btn-link text-info"><i class="bi bi-eye-fill"></i></a>

                <a href="{% url 'estilista:eliminar-estilista' estilista.dni %}" class="btn btn-link text-danger" onclick="return confirm('¿Estás seguro de eliminar el estilista?');"><i class="bi bi-trash-fill"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'core/paginador.html' with paginador=estilistas %}

  <script src="{% static 'js/searchTable.js' %}"></script>

{% endblock %}
