{% extends 'core/base.html' %}

{% load static %}

{% block title %}Detalle Estilista{% endblock title %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 50%;">
        <div class="card-header text-center">
            <h2>Detalle del Estilista</h2>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>DNI:</strong>
                </div>
                <div class="col-md-8">
                    {{ estilista.dni }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Nombre:</strong>
                </div>
                <div class="col-md-8">
                    {{ estilista.nombre }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Apellido:</strong>
                </div>
                <div class="col-md-8">
                    {{ estilista.apellido }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Teléfono:</strong>
                </div>
                <div class="col-md-8">
                    {{ estilista.telefono }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <strong>Correo:</strong>
                </div>
                <div class="col-md-8">
                    {{ estilista.email }}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col text-center">
                    <a href="{% url 'lista-estilistas' %}" class="btn btn-primary">Regresar a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
