<div class="pagination">
    <span class="step-links">
      {% if paginador.has_previous %}
        <a class="text-black border-info" href="?page=1">&laquo; primera</a>
        <a class="text-black border-info" href="?page={{ paginador.previous_page_number }}">anterior</a>
      {% endif %}

      <span class="current text-black border-info">Página {{ paginador.number }} de {{ paginador.paginator.num_pages }}.</span>

      {% if paginador.has_next %}
        <a class="text-black border-info" href="?page={{ paginador.next_page_number }}">siguiente</a>
        <a class="text-black border-info" href="?page={{ paginador.paginator.num_pages }}">última &raquo;</a>
      {% endif %}
    </span>
  </div>