body{
    background: linear-gradient(135deg, #f7fdff, #f7fdff, #f7fdff, #f7fdff, #f7fdff);
    background-size: 400% 400%;
    font-family:Arial, Helvetica, sans-serif;

}

h2{
    color: slateblue;
    font-family:'Times New Roman', Times, serif;
}

.rounded-circle {
    border-radius: 50%;
    object-fit: cover;
}


/* Creamos loos estipos para la paginación */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.step-links {
    display: flex;
    align-items: center;
}

.step-links a, .step-links span {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #333;
}

.step-links a:hover {
    background-color: #f1f1f1;
    border-color: #bbb;
}

.current {
    font-weight: bold;
    color: #555;
}
