{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Registro estilista{% endblock title %}
    
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Registro de Clientes</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 mb-5">
                <div class="card-body">
                    <form method="POST" class="my-class">
                        <h4>Servicio seleccionado:</h4> 
                        <p><strong>Nombre:</strong> {{ servicio.nombre }}</p> 
                        <p><strong>Descripción:</strong> {{ servicio.descripcion }}</p> 
                        <p><strong>Precio:</strong> ${{ servicio.precio }}</p>
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="hidden" name="servicio" value="{{ servicio.id }}">
                        <button type="submit" class="btn btn-primary d-block w-100">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
