{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Lista clientes{% endblock title %}
    
{% block content %}
<h2>Lista de clientes</h2>


<div class="d-flex justify-content-center">
    <table class="table table-dark table-hover mt-5" style="width: 75%;">
        <thead>
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="estilistaTable">
            {% for cliente in clientes %}
            <tr>
                <th scope="row">{{ cliente.dni }}</th>
                <td>{{ cliente.user.first_name }}</td>
                <td>{{ cliente.user.last_name }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.user.email }}</td>
                <td>{{ cliente.rol }}</td>
                <td>
                    <a href=" {% url 'editar-cliente' cliente.dni %} " class="btn btn-link text-info">
                        <i class="bi bi-pencil"></i>
                    </a>

                    <a href=" {% url 'ver-cliente' cliente.dni %} " class="btn btn-link text-info">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                    
                    <a href=" {% url 'eliminar-cliente' cliente.dni %} " class="btn btn-link text-danger" 
                    onclick="return confirm('¿Estás seguro de eliminar el estilista?');">
                        <i class="bi bi-trash-fill"></i> 
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock content %}
    
    