{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Registro estilista{% endblock title %}
    
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card  bg-dark text-white rounded-3 p-5">
                <h3 class="text-center text-info">Registro</h3>
                <div class="card-body">
                    <form method="POST" class="my-class">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary d-block w-100 mt-5">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
